@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.another::before {
  content: 'or login with';
  position: absolute;
  color: black;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 10px;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide > div {
  height: 100% !important;
}
.slick-dots {
  position: absolute;
  bottom: auto;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.hoverAnimation {
  @apply hover:transition-all hover:duration-200 hover:bg-[#ffffff72];
}

/* filter in find car page */
.logos::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 3px;
  background-color: #76192d;
  bottom: -10px;
}
/* filter flaying page */
.fliying_title::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 3px;
  background-color: #76192d;
  bottom: -10px;
}

::-webkit-scrollbar {
  display: none;
}

/* review shadow */

.reviewShadow {
  box-shadow: 15px 13px 0px 0px rgba(0, 35, 77, 0.26);
  -webkit-box-shadow: 15px 13px 0px 0px rgba(0, 35, 77, 0.26);
  -moz-box-shadow: 15px 13px 0px 0px rgba(0, 35, 77, 0.26);
}
/* contact shadow */
.contact-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
}
.active {
  color: #76192d;
  font-size: 17px;
}

.payment-shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.495);
}

.toUpShadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.495);
}

/*Hotel loading */

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* change form animation */

.loaderChange {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  /* margin-top: 10px; */
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
